.actions-group {
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  .list-item {
    margin: auto;
    background-color: white;
    width: 50vw;
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 20px;

    .badge-container {
      margin-top: 2rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .custom-badge {
        margin-bottom: 1rem;
        border-radius: 20px;
        border: 1px solid black;
        background-color: lightgray;
        cursor: pointer;
        padding: 1%;
      }
      .selected-badge {
        background-color: rgba(13, 10, 253, 0.25);
      }
    }
  }
}
