<div class="actions-group m-1 mb-2">
  <button type="button" class="btn btn-dark m-1" (click)="addChallenge()">
    Add Challenge
  </button>
  <button (click)="saveChanges()" type="button" class="btn btn-dark m-1">
    Save Changes
  </button>
</div>
<form class="list-container" [formGroup]="parentFormGroup">
  <ng-container formArrayName="posts">
    <div
      *ngFor="let postCtrl of postsFormArray?.controls; let i = index"
      class="list-item"
      [formGroupName]="i"
    >
      <div class="form-group">
        <label for="title">Challenge Title</label>
        <input
          formControlName="title"
          type="text"
          class="form-control"
          placeholder="Challenge Title"
          id="title"
        />
      </div>
      <div class="form-group mt-3">
        <label for="description">Challenge Description</label>
        <textarea
          id="description"
          formControlName="description"
          class="form-control"
          rows="5"
          placeholder="Challenge Description"
        ></textarea>
      </div>
      <div class="badge-container">
        <span
          *ngFor="let badge of availableTags; let j = index"
          class="custom-badge"
          [ngClass]="{ 'selected-badge': isBadgeSelected(i, badge) }"
          (click)="updateTagSelection(i, badge)"
        >
          {{ badge }}
        </span>
      </div>
    </div>
  </ng-container>
</form>
