<div class="login-container">
  <div class="brand-icon mb-1">
    <i class="bi bi-eyeglasses"></i>
  </div>
  <div class="input-group m-1">
    <div class="input-group-prepend">
      <span class="input-group-text border-right-0 border icon-container">
        <i class="bi bi-person-badge"></i>
      </span>
    </div>
    <input
      class="form-control py-2 border-left-0 border"
      type="text"
      placeholder="Employee ID"
    />
  </div>
  <button (click)="loginHandler()" type="button" class="btn btn-dark m-1">Login</button>
</div>
