<div class="login-container">
  <div class="brand-icon mb-1">
    <i class="bi bi-eyeglasses"></i>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="loginHandler()" class="w-100">
    <div class="input-group m-1">
      <div class="input-group-prepend">
        <span class="input-group-text border-right-0 border icon-container">
          <i class="bi bi-person-badge"></i>
        </span>
      </div>
      <input
        class="form-control py-2 border-left-0 border"
        type="text"
        placeholder="Employee ID"
        formControlName="empId"
      />
    </div>
    <p
      class="errorMsg"
      *ngIf="
        this.userForm.get('empId').touched && this.userForm.get('empId').invalid
      "
    >
      Please enter employee id
    </p>
    <button type="submit" class="btn btn-dark m-1">Login</button>
  </form>
</div>
