/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
    background: url('assets/background.jpg');
    background-repeat: repeat-y;
    background-size: 100vw 100vh;
}